<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GoldenLady.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--线路列表-->
    <add key="DSNName" value="总店|巴黎|测试|外网"/>
    <add key="DSN" value="XWB1QdBXUiGFv74CqqdlEse77jXNfxQ6jadzxUI0IsjxkUrIR+uj74eDiGfvJ/ftYsk46jZbVOHQF40LuzrlkGCt10ZqfzbKTpkKWCQuMCOeyyvfOKfTFsyFmZE1DEkJ"/>
    <add key="DSN1" value="veSryTpo2Em9R8KgcGRPUv9XVDx80Zuqaw8vzxek+pPDjTJdHXOAqtbpikf6jYiR9PVyVnnu9v4CNR9t8fjbJA=="/>
    <add key="DSN2" value="veSryTpo2Elm/KxhZb7XATGzn0hAQ4NYImvMVmNrMYsBVbx5k/3Izd7JVb6pDHkiXnjwXJ5uv8G1JHMloKDa3xvL0ONe4Pqb"/>
    <add key="DSN3" value="XWB1QdBXUiGFv74CqqdlEse77jXNfxQ6jadzxUI0IsjxkUrIR+uj74eDiGfvJ/ftlWC9WQZsnGQaJcIdF7CDEfD+d3z5YzkMVWmhMeqeXejf7DY5ORYUowF4zwrhoRlb"/>
    <add key="DSN4" value="IVW7l5Ul1b+XlnofMN6MJLjGDGBd++mWYq5a8mid5A6TpA1V+Ykw92tfDIFYNEt/NNx72MYFd1Rsf5srtILRxfDGG7xFuqdLLMKi5xbDI1M="/>
    <add key="DSN5" value=""/>
    <add key="DSN6" value=""/>
    <add key="DSN7" value=""/>
    <add key="DSN8" value=""/>
    <add key="DSN9" value=""/>
    <add key="DSN10" value=""/>
    <!--后期产品库-->
    <add key="PMSConStr" value="veSryTpo2ElaHpRH7fRmdtPGn8wA24IFM2cqmZf0gD+Cvw9xrx3k3Ikllg+aoA4+vA8RFWwp4tWB88zWnBwTnA=="/>
    <!--生产打包传件-->
    <add key="PMSConStrN" value="veSryTpo2EmnhsuLZOuOv+n0skFrVH5gqYXKTrn3p7x/6NG5luTL76XT/Hc1bFreTA6hK52r+dFgCljWcHkafI6joigmTP5s"/>
    <add key="cKey" value="goldenladies"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--<add key="WeiXinUrl" value="http://localhost:9095/GlPost"/>-->
    <add key="WeiXinUrl" value="http://192.168.1.11:9095/GlPost"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <GoldenLady.UI.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>金牌流程管理系统2.5</value>
      </setting>
    </GoldenLady.UI.Properties.Settings>
  </applicationSettings>
</configuration>